<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]= "imagenDelPadre ? imagenDelPadre : imagen"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="setName()">Ir al lado oscuro</button>
    <button mat-button (click)="emisor.emit(entrada.value)">SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-divider></mat-divider>
<mat-card>
  <mat-card-header>
    <mat-card-title
      >Ejemplos de estructuras de control y enlazamiento de doble
      vía</mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label style="margin-top: 5px;">Ingrese su nombre</mat-label>
      <input matInput [(ngModel)]="nombre" #entrada placeholder="Ingrese su nombre" />
      <mat-icon matSuffix>fingerprint</mat-icon>
      <mat-hint>Ingrese su nombre completo</mat-hint>
    </mat-form-field>
    <h1>El nombre ingresado es: {{nombre}}</h1>
    @if(nombre === 'Darth Vader'){
    <h1>No entres al lado oscuro</h1>
    } @else {
    @if(nombre.length > 0){
<h1>Hola {{nombre}}</h1>
  }
}
<h1 *ngIf="nombre === 'Darth Vader'">Jamás retornas de el</h1>

<ul>
  @for (item of nombres; track $index){
    <li>
      Hola {{item}}
    </li>
  }
</ul>
  </mat-card-content>
</mat-card>
